@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'NeueBit';
    src: url('/fonts/NeueBit/NeueBit-Bold.woff2');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'MaisonNeue';
    src: url('/fonts/MaisonNeue-Bold.otf');
    font-weight: 900;
    font-style: normal;
  }

  html {
    font-family: 'NeueBit', sans;
  }
  h2,
  .amtName {
    font-family: 'MaisonNeue', sans;
  }
}

@layer components {
  #homeGrid .hoverCard {
    border: black solid 0.7rem;
  }
  #homeGrid .title {
    font-size: 4rem;
    line-height: 1;
  }
  #homeGrid .claim {
    font-size: 1.5rem;
  }
  #homeGrid .arrow {
    font-size: 3rem;
  }
  @media screen and (min-width: 768px) {
    #homeGrid .hoverCard {
      border: black solid 1.8rem;
    }
    #homeGrid .title {
      font-size: 8rem;
      line-height: 1;
    }
    #homeGrid .claim {
      font-size: 1.5rem;
    }
    #homeGrid .arrow {
      font-size: 3rem;
    }
  }
  @media screen and (min-width: 1024px) {
    #homeGrid .hoverCard {
      border: black solid 2.2rem;
    }
    #homeGrid .title {
      font-size: 10rem;
    }
  }
  @media screen and (min-width: 1280px) {
    #homeGrid .hoverCard {
      border: black solid 2.5rem;
    }
    #homeGrid .title {
      font-size: 12rem;
    }
  }
}
